@import url('https://fonts.googleapis.com/css?family=Roboto|Port+Lligat+Slab&display=swap');

h1{
    font-family: 'Port Lligat Slab', serif;
    font-size: xx-large;
}

h2{
    font-family: 'Port Lligat Slab', serif;
}

h5{
    font-family: 'Port Lligat Slab', serif;
    font-weight: bold;
}

th{
    font-family: 'Port Lligat Slab', serif;

}

.card-title{
    font-family: 'Port Lligat Slab', serif;
    font-size: x-large;
}

p{
    font-family: 'Roboto';
    font-size: large;
    line-height:1.4
}

.card{
    border: none;
}

.share{
    font-size: 25px;
}

a{
    font-size: medium;
}

input{
    font-family: 'Roboto';
    font-size: large;
    line-height:1.4;
    width: 380px;
}