@import url('https://fonts.googleapis.com/css?family=Roboto|Port+Lligat+Slab&display=swap');

h1{
    font-family: 'Port Lligat Slab', serif;
    font-size: 1.6vw;
}

h2{
    font-family: 'Port Lligat Slab', serif;
    font-size: 1.3vw;
    line-height:1.4;
}

h5{
    font-family: 'Port Lligat Slab', serif;
    font-weight: bold;
    font-size: 1vw;
    line-height:1.4;
}

th{
    font-family: 'Port Lligat Slab', serif;
    font-size: 1vw;
}

.card-title{
    font-family: 'Port Lligat Slab', serif;
    font-size: 1.2vw;
}

p{
    font-family: 'Roboto';
    line-height:1.4;
    font-size: 0.9vw;
}

.card{
    border: none;
}

.share{
    font-size: 1.2vw;
}

a{
    font-size: 0.9vw;
    line-height:1.2;
}

input{
    font-family: 'Roboto';
    font-size: 1.2vw;

    line-height:1.4;
    width: 80%;
}