@import url('https://fonts.googleapis.com/css?family=Poppins|Port+Lligat+Slab&display=swap');

.card{
    //font-size: 160%;
}

.card-header{
    font-family: 'Port Lligat Slab', serif;
    color: white;
    background-color: #1e7eec;
}

h2{
    font-family: 'Port Lligat Slab', serif;
    font-size: 1.3vw;
    line-height: 1;
}
    
.card-body{
    font-family: 'Poppins';
}

