<div class="alert alert-info" role="alert" *ngIf="getDialog()">
    <h4 class="alert-heading">{{getDialog()[1]}}</h4>
    <p>{{getDialog()[2]}}</p>
    <!--
        <hr>
        <p class="mb-0">Evalue la confiance (??) que tu attribues à chaque membre en fonction de ces habiletés. </p>
        Commence par prendre connaissance des habiletés des membres de ton groupe. Pourt cela clique sur la personne qui apparaît.
Ensuite évalue la confiance que tu lui attribue grâce au curseur à droite.
    --> 
</div>



