<div class="container-fluid">
    

    <!--<div class="row mt-2">
        <div class="col">
            <app-dialog></app-dialog>
        </div>
      <div class="col-lg-8 p-0">
          <app-scenery></app-scenery>
      </div>
      <div class="col">
          <div class="container-fluid " *ngIf=(characterClicked())>
            <div class="row pb-2" >
                <app-character-features></app-character-features>
            </div>
            <div class="row pb-2">
                <app-risk-perception></app-risk-perception>
            </div>
            <div class="row pb-2">
                <div class="col">
                    <button type="button" class="btn btn-outline-success float-right" (click)="setIndex(); characterClickedOff()">
                        Poursuivre
                    </button>
                </div>
            </div>
          </div>
      </div>
    </div> -->
</div>
    

