<h1 mat-dialog-title>Tu es encore là ?</h1>
<div mat-dialog-content>
  <!-- <p class="row" *ngIf="videoId=='YW5AcukbD3k'">Ce souvenir n'est pas réjouissant, ne t'inquiète pas tout s'est bien terminé ! Tu auras accès à la vidéo complète à la fin du jeu.</p>
  <p class="row" *ngIf="videoId=='YW5AcukbD3k'">Ok, c'était le souvenir d'une journée de ski comme une autre.</p> -->
  <!-- <mat-slide-toggle class="row">J'ai eu des problèmes pour visionner la vidéo.</mat-slide-toggle>
  <hr> -->
  <p class="row">Il est temps de revenir aux scènes de montagne, le groupe a dû arriver.</p>
</div>
<div mat-dialog-actions>
  <button mat-button [mat-dialog-close]="closeEvent(dialogRef)" (click)="close()"><p class="m-2">Poursuivre</p></button>
</div>
  