<div class="card shadow-" style="width: 18rem;">
    <div class="card-header">
        Evaluation d'un membre du groupe
    </div>
    <label for="customRange2">Echelle de perception de confiance :</label>
    <input type="range" class="custom-range" min="0" max="5" id="customRange2">
</div>

<!-- <div class="card shadow-" style="width: 18rem;">
    <div class="card-header">
        Evaluation Continue
    </div>
    <label for="customRange1">Example range</label>
    <input type="range" class="custom-range" id="customRange1"> 
</div> -->


