<div class="card mb-3">
    <div class="card-header">
        <h3>Évalue la probabilité de t'engager</h3>
    </div>
    <div class="card-body">
        <div class="container">
            <div class="row">
                <div class="col-6">
                    
                        <mat-slider layout-align='center center' thumbLabel tickInterval="1" [formControl]="finalEvaluation" required></mat-slider>
                        <div *ngIf="finalEvaluation.invalid && !validForm">
                            <mat-error *ngIf="finalEvaluation.errors.required">Réponse requise.</mat-error>
                        </div>
                    
                </div>
            </div>
            <div class="row">
                <button mat-raised-button class="mx-auto" (click)="validate()">OK</button>
            </div>
        </div>
    </div>
</div>


