<div class="container-fluid p-0">
    <div class="card" *ngIf="getScenery()">
        <img src="assets/images/scenery/background/{{getScenery().background}}" class="img" alt="scenery">
    
        <div *ngFor="let character of getScenery().characters" (click)="characterClicked(character)">
            <img *ngIf="character" src="assets/images/scenery/skiers/{{character.imageName}}"
            class="character img-fluid" 
            alt="character"
            [ngStyle]="{
                        'top.%': character.positionTop, 
                        'left.%': character.positionLeft,
                        'width.%': character.width,
                        'transform':'scaleX('+character.scaleX+') rotate('+character.rotate+'deg)'
                        }">
        </div>
    </div>
</div>
  


