<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">
      <img src="assets/images/mountain.svg" width="40" height="40" alt="">
    </a>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="/" routerLinkActive="active">Avalanche Risk</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/priming" routerLinkActive="active">Video</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/game" routerLinkActive="active">Game</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/editor" routerLinkActive="active">Editor</a>
        </li>
      </ul>
    </div>
      <div class=" float-right">
        <ul class="navbar-nav">
          <!--<li routerLinkActive="active" *ngIf="!isAuth">
            <a routerLink="auth/signup">Sign up</a>
          </li>-->
          <li routerLinkActive="active" *ngIf="!isAuth">
            <a routerLink="auth/signin">
              <button type="button" class="btn btn-outline-primary ">Sign in</button>
            </a>
          </li>
          <li>
            <a (click)="onSignOut()"
               style="cursor:pointer"
               *ngIf="isAuth">Logout</a>
          </li>
        </ul>
      </div>
      
    
  </nav>
