<div class="card bg-light mb-3" style="max-width: 18rem;">
    <div class="card-header">Characters editor</div>

    <div class="card-body">

      <div class="container">

        <div class="row mx-auto mt-3">
          <select class="form-control" id="FormControlSelect1">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
          </select>
        </div>

        <div class="row mx-auto mt-3">
          <div>
            <button type="button" class="btn btn-outline-secondary" id="LeftPosition" (click)="positionLeftLeft()">
              <img src="../../assets/images/icons/keyboard_arrow_left-24px.svg" class="img-fluid" alt="Up">
            </button>
          
            <div class="btn-group-vertical" role="group" aria-label="Vertical position">
              <button type="button" class="btn btn-outline-secondary" id="TopPosition" (click)="positionTopUp()">
                  <img src="../../assets/images/icons/keyboard_arrow_up-24px.svg" class="img-fluid" alt="Up">
              </button>
              <button type="button" class="btn btn-outline-secondary" id="TopPosition" (click)="positionTopDown()">
                  <img src="../../assets/images/icons/keyboard_arrow_down-24px.svg" class="img-fluid" alt="Down">
              </button>
            </div>
          
            <button type="button" class="btn btn-outline-secondary" id="LeftPosition" (click)="positionLeftRight()">
              <img src="../../assets/images/icons/keyboard_arrow_right-24px.svg" class="img-fluid" alt="Down">
            </button>
        </div>
        </div>
        
        
          <div class="row mx-auto mt-3">
            <div class="btn-group mx-auto" role="group" aria-label="Basic example">
              <button type="button" class="btn btn-outline-secondary" (click)="widthUp()">
                <img src="../../assets/images/icons/zoom_in-24px.svg" class="img-fluid" alt="zoom_in">
              </button>
              <button type="button" class="btn btn-outline-secondary" (click)="widthDown()">
                <img src="../../assets/images/icons/zoom_out-24px.svg" class="img-fluid" alt="zoom_out">
              </button>
            </div>
          </div>
          
          <div class="row mx-auto mt-3">
            <span>
              id = {{character1.id}},
              imageName = {{character1.imageName}},
              positionTop = {{character1.positionTop}},
              positionLeft = {{character1.positionLeft}},
              width = {{character1.width}}
            </span>
          </div>

      </div>

       

    </div>

    
  </div>

