<div class="container-fluid">
        <mat-card class="mx-auto col-6">
            <mat-card-header><h1>Informations aux testeurs</h1></mat-card-header>
                <mat-card-content>
                    <p>Tout d'abord, merci de participer au test ! <br/>
                            Cette application est une expérience gamifiée, il s'agit d'une expérience de psychologie cognitive ayant deux objectifs : 
                            effectuer des mesures et faire de la prévention au sujet du ski hors-piste. 
                            Cela se présente sous forme de jeu afin de stimuler l'engagement du participant.<br/>
                            <br/>
                            C'est une version beta, il reste encore de nombreuses améliorations à développer, et c'est pour cela que nous avons besoin d'avis d'utilisateur.<br/>
                            La durée est d'environ 10-15 min. Pour le moment, aucune donnée n'est collectée.<br/>
                            <br/>
                            N'hésite pas à noter :</p>
                    <ul class="list-group">
                        <li class="list-group-item">Les bugs rencontrés (certains sont connus, pas tous).</li>
                        <li class="list-group-item">Les incohérences dans le scénario notamemnt au sujet de la pratique du ski.</li>
                        <li class="list-group-item">Les améliorations possibles.</li>
                        <li class="list-group-item">Les incompréhensions au sujet des tâches demandées.</li>
                        <li class="list-group-item">Des idées pour la fin du jeu.</li>
                    </ul>
                    <br/>
                <h3>Bonne expérience !</h3> 
            </mat-card-content>
        <mat-card-footer class="text-center"><a routerLink="/game" routerLinkActive="active"><button mat-raised-button>Commencer</button></a></mat-card-footer>
    </mat-card>    
</div>