<div class="card">
    <div class="card-header">Questionnaire</div>
    <div class="card-body">
        <table class="table table table-sm">
            <tbody>
                <tr>
                    <th scope="col" class="text-center"><h2><span class="badge badge-warning">1</span></h2></th>
                    <th scope="col" class="text-center"><h2><span class="badge badge-warning">2</span></h2></th>
                    <th scope="col" class="text-center"><h2><span class="badge badge-warning">3</span></h2></th>
                    <th scope="col" class="text-center"><h2><span class="badge badge-warning">4</span></h2></th>
                    <th scope="col" class="text-center"><h2><span class="badge badge-warning">5</span></h2></th>
                </tr>
                <tr>
                    <td class="text-center">Jamais</td>
                    <td class="text-center">Rarement</td>
                    <td class="text-center">Souvent</td>
                    <td class="text-center">Très souvent</td>
                    <td class="text-center">Toujours</td>
                </tr>
            </tbody>
        </table>
        
        <ul class="list-group list-group-flush">
            <li class="list-group-item row">
                <span class="col">La petite taille du groupe</span>
                <mat-slider 
                    class="col"
                    thumbLabel
                    tickInterval="100"
                    min="1"
                    max="5">
                </mat-slider>
            </li>
            <li class="list-group-item row">
                <span class="col">La condition physique des membres du groupe</span>
                <mat-slider 
                    class="col"
                    thumbLabel
                    tickInterval="100"
                    min="1"
                    max="5">
                </mat-slider>
            </li>
            <li class="list-group-item row">
                <span class="col">Leur niveau technique</span>
                <mat-slider 
                    class="col"
                    thumbLabel
                    tickInterval="100"
                    min="1"
                    max="5">
                </mat-slider>
            </li>
            <li class="list-group-item row">
                <span class="col">Leur expérience du hors-piste</span>
                <mat-slider 
                    class="col"
                    thumbLabel
                    tickInterval="100"
                    min="1"
                    max="5">
                </mat-slider>
            </li>
            <li class="list-group-item row">
                <span class="col">Leur connaissance du lieu</span>
                <mat-slider 
                    class="col"
                    thumbLabel
                    tickInterval="100"
                    min="1"
                    max="5">
                </mat-slider>
            </li>
            <li class="list-group-item row">
                <span class="col">Leur équipement de secours (appareil de
                    détection de victime en avalanche, pelle,
                    sonde, ...)</span>
                <mat-slider 
                    class="col"
                    thumbLabel
                    tickInterval="100"
                    min="1"
                    max="5">
                </mat-slider>
            </li>
            <li class="list-group-item row">
                <span class="col">Leur entrainement à l’utilisation du
                    matériel de secours</span>
                <mat-slider 
                    class="col"
                    thumbLabel
                    tickInterval="100"
                    min="1"
                    max="5">
                </mat-slider>
            </li>
            <li class="list-group-item row">
                <span class="col">Leur matériel de glisse</span>
                <mat-slider 
                    class="col"
                    thumbLabel
                    tickInterval="100"
                    min="1"
                    max="5">
                </mat-slider>
            </li>
            <li class="list-group-item row">
                <span class="col">La présence d’un leader expérimenté au
                    sein du groupe</span>
                <mat-slider 
                    class="col"
                    thumbLabel
                    tickInterval="100"
                    min="1"
                    max="5">
                </mat-slider>
            </li>
        </ul>
</div>



















