<div class="card" style="width: 18rem;">
    <div class="card-header">
        <h2>Conditions</h2>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item pb-0">
            <ul class="list-group list-group-flush">
                <li class="list-group-item p-0">
                    <h3 class="card-title text-center">Nivo-météorologiques</h3>
                </li>
                <li class="list-group-item mb-2 text-muted">
                    <h4 class="card-title mb-2">Météo de l'après de midi</h4>
                    <div class="container">
                        <div class="row">
                        <div class="col text-center">
                            <img src="assets/images/icons/wb_sunny-24px.svg" class="img-fluid" alt="wb_sunny-24px">
                        </div>
                        <div class="col-sm text-center">
                            Ensoleillé
                        </div>
                        </div>
                    </div>
                </li>
                <li class="list-group-item mb-2 text-muted">
                    <h4 class="card-title mb-2">Chute de neige récente</h4>
                    <div class="container">
                        <div class="row">
                        <div class="col text-center">
                            <img src="assets/images/icons/ac_unit-24px.svg" class="img-fluid" alt="ac_unit-24px.svg">
                        </div>
                        <div class="col text-center">
                            30cm
                        </div>
                        </div>
                    </div>
                </li>
            </ul>
        </li>
        <li class="list-group-item pb-0">
            <ul class="list-group list-group-flush">
                <li class="list-group-item p-0">
                    <h3 class="card-title text-center">Du terrain</h3>
                </li>
                <li class="list-group-item mb-2 text-muted">
                    <h4 class="card-title mb-2">Eléments spécifiques du terrain</h4>
                    <div class="container">
                        <div class="row">
                            <div class="col-8"><p>Arbres</p></div>
                            <div class="col-4"><img src="assets/images/icons/check_box_outline_blank-24px.svg" class="img-fluid" alt="check_box_out-24px.svg"></div>
                        </div>
                        <div class="row">
                            <div class="col-8"><p>Barres rocheuses</p></div>
                            <div class="col-4"><img src="assets/images/icons/check_box_outline_blank-24px.svg" class="img-fluid" alt="check_box_out-24px.svg"></div>
                        </div>
                        <div class="row">
                            <div class="col-8"><p>Crevasses</p></div>
                            <div class="col-4"><img src="assets/images/icons/check_box_outline_blank-24px.svg" class="img-fluid" alt="check_box_out-24px.svg"></div>
                        </div>
                    </div>
                </li>
                <li class="list-group-item pb-0 text-muted">
                    <h4 class="card-title mb-2">Zones de retour vers le domaine skiable</h4>
                    <div class="container">
                        <div class="row">
                            <div class="col-8"><p>Début de parcours</p></div>
                            <div class="col-4"><img src="assets/images/icons/check_box-24px.svg" class="img-fluid" alt="done-24px.svg"></div>
                        </div>
                        <div class="row">
                            <div class="col-8"><p>Fin de parcours</p></div>
                            <div class="col-4"><img src="assets/images/icons/check_box_outline_blank-24px.svg" class="img-fluid" alt="check_box_out-24px.svg"></div>
                        </div>
                    </div>
                </li>
            </ul>
        </li>
    </ul>

  </div>