<div class="card bg-light mb-3" style="max-width: 18rem;">
    <div class="card-header">Scenery editor</div>

    <div class="card-body">

      <div class="container">

        <!--<div class="row mx-auto mt-3">
          <select class="form-control" id="FormControlSelect1" (change)="idChange(selected)">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
          </select>
        </div> -->

        <div class="row mx-auto mt-3">
          <form (submit)="idChange(id.value)">
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-default">ID</span>
              </div>
              <input #id type="text" class="form-control">
            </div>
          </form>
        </div>

        <div class="row mx-auto mt-3">
          <form (submit)="imageNameChange(imageName.value)">
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-default">ImageName</span>
              </div>
              <input #imageName type="text" class="form-control">
            </div>
          </form>
        </div>

        <div class="row mx-auto mt-3">
          <form (submit)="dialogChange(1, dialog1.value)"> 
            <div class="input-group mb-3">
              <div class="form-group">
                <label for="exampleFormControlTextarea1">Dialog 1</label>
                <textarea #dialog1 class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                <button type="submit" class="btn btn-outline-primary float-right">Submit</button>
              </div>
            </div>
          </form>
        </div>

        <div class="row mx-auto mt-3">
          <form (submit)="dialogChange(2, dialog2.value)">
            <div class="input-group mb-3">
              <div class="form-group">
                <label for="exampleFormControlTextarea1">Dialog 2</label>
                <textarea #dialog2 class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                <button type="submit" class="btn btn-outline-primary float-right">Submit</button>
              </div>
            </div>
          </form>
        </div>

    </div> 
  </div>

