<h1 mat-dialog-title>Le souvenir</h1>
<div mat-dialog-content>
  <p class="row">Dans un moment d'instrospection, tu quittes la montagne et te plonges dans ta mémoire.</p>
  <p class="row">Le souvenir se présente sous forme de video (2 minutes). Il est important pour l'expérience que tu visionnes attentivement le contenu.</p>
  <p class="row">Le son est désactivé volontairement, pour le bon déroulement de l'expérience, merci de ne pas le réactiver.</p>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="close()">Ok</button>
</div>
