<h1 mat-dialog-title>Le souvenir</h1>
<div mat-dialog-content>
  <p class="row">Dans un moment d'instrospection, tu quittes la montagne et te plonges dans ta mémoire.</p>
  <p class="row">Le souvenir se présente sous forme de video. Il est important pour l'expérience que tu visionnes attentivement le contenu, il est préférable que le son soit activé.</p>
  <mat-slide-toggle class="row">Il n'est pas possible d'activer pour moi d'activer le son.</mat-slide-toggle>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="close()">Ok</button>
</div>
