@import url('https://fonts.googleapis.com/css?family=Poppins|Port+Lligat+Slab&display=swap');

.card-header{
    font-family: 'Port Lligat Slab', serif;
    color: white;
    background-color: #1e7eec;
}

h3{
    font-family: 'Port Lligat Slab', serif;
    font-size: x-large;
}
    
h4{
    font-family: 'Poppins';
    font-size: medium;
}