<div class="card" style="width: 18rem;">
    <div class="card-header">
        Caractéristiques
    </div>

    <ul class="list-group list-group-flush">
        <li class="list-group-item">
            <h4 class="card-subtitle mb-2 text-muted">Niveau Technique</h4>
            <mat-progress-bar class="progress-bar" role="progressbar" [value]="60"></mat-progress-bar>
        </li>
        <li class="list-group-item">
            <h4 class="card-subtitle mb-2 text-muted">Expérience du hors piste</h4>
            <mat-progress-bar class="progress-bar" role="progressbar" [value]="80"></mat-progress-bar>
        </li>
        <li class="list-group-item">
            <h4 class="card-subtitle mb-2 text-muted">Condition physique</h4>
            <mat-progress-bar class="progress-bar" role="progressbar" [value]="30"></mat-progress-bar>
        </li>
        <li class="list-group-item">
            <h4 class="card-subtitle mb-2 text-muted">Connaissance du lieu</h4>
            <mat-progress-bar class="progress-bar" role="progressbar" [value]="10"></mat-progress-bar>
        </li>
      </ul>
  </div>