@import url('https://fonts.googleapis.com/css?family=Poppins|Port+Lligat+Slab&display=swap');

.card-header{
    font-family: 'Port Lligat Slab', serif;
    color: white;
    background-color: #1e7eec;
}

h2{
    font-family: 'Port Lligat Slab', serif;
    //font-size: x-large;
    font-size: 1.6em;
}

h3{
    font-family: 'Poppins';
    //font-size: large;
    font-size: 1.1em;
}

    
h4{
    font-family: 'Poppins';
    //font-size: medium;
    font-size: 1em;
}