<!-- <img src="../../assets/images/scenery/{{getImageName(1)}}" 
    class="character img-fluid" 
    alt="character" 
    [ngStyle]="{'top.%': getPositionTop(1), 
                'left.%': getPositionLeft(1),
                'width.%': getWidth(1)}">

<img src="../../assets/images/scenery/{{getImageName(2)}}" 
     class="character img-fluid" 
     alt="character" 
     [ngStyle]="{'top.%': getPositionTop(2), 
                'left.%': getPositionLeft(2), 
                'width.%': getWidth(2)}">
            
<img src="../../assets/images/scenery/{{getImageName(3)}}" 
     class="character img-fluid" 
     alt="character" 
     [ngStyle]="{'top.%': getPositionTop(3), 
                 'left.%': getPositionLeft(3), 
                 'width.%': getWidth(3)}">

<img src="../../assets/images/scenery/{{getImageName(4)}}" 
     class="character img-fluid" 
     alt="character" 
     [ngStyle]="{'top.%': getPositionTop(4), 
                'left.%': getPositionLeft(4), 
                'width.%': getWidth(4)}"> -->
