
<mat-card>
    <mat-card-title>Actions possibles</mat-card-title>
    <mat-card-content>
        <div class="row p-3">
            <button type="button" class="btn btn-outline-secondary mx-auto">
                <img src="assets/images/icons/explore-24px.svg">
            </button>
        </div>
        <div>
            <div class="row">
                <mat-form-field>
                    <mat-label>Choix</mat-label>
                    <mat-select>
                        <mat-option value="Prudent">S'engager prudement</mat-option>
                        <mat-option value="Normal">Slalomer avec retenu</mat-option>
                        <mat-option value="Excessif">Se pencher et attaquer la pente</mat-option>
                    </mat-select>
              </mat-form-field>
            </div>
        </div>
    </mat-card-content>
</mat-card>

